.popup {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width: 600px;
    height: 230px;
    border: 4px solid #52a452;
    border-radius: 10px;
    background: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    @media(max-width: 860px) {
        width: 320px;
        height: 180px;
    }
}
.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    @media(max-width: 860px) {
        font-size: 18px;
    }
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    button {
        font-size: 30px;
        width: 150px;
        padding-block: 4px;
        line-height: 1;
        @media(max-width: 860px) {
        font-size: 18px;
    }
    }
    
}