
.page {
   
    padding-top: 140px;
    @media(max-width:860px){
        padding-top: 123px;
    }
    &__container {
        
    }

    &__banner {
    }

    &__products {
    }
}

.baner-page {
    display: flex;
    gap: 13px;
    &__slider {
        flex: 1 1 auto;
    }

    &__banner {
        flex: 0 0 269px;
        width: 269px;
         @media(max-width: 860px) {
            width: 100%;
            min-width: 269px;
        }
    }
}
.slider-page {
    &__wrapper {
        height: 100%;
        position: relative;
    }

    &__item {
        height: 100%;
    }
}
/*===============================*/
.slide-item {
    
    &__content {
        min-height: 230px;
        color: #fff;
        display: flex;
        justify-content: space-between;

        @media(max-width: 730px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__images {
        position: relative;
    }
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.5;
            z-index: 1;
        }
    }

    &__book {
        width: 150px;
        height: 228px;
        position: absolute;
        left: 60px;
        top: 40px;
        @media(max-width: 730px) {
            width: 75px;
            height: 114px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__audio {
        width: 91px;
        height: 108px;
        left: 165px;
        top: 150px;
        position: absolute;
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            right: -48px;
            width: 48px;
            height: 108px;
            background: url('../assets/img/slider/disk_after.png') 0 0 no-repeat;
        }
       
        @media(max-width: 1000px) {
           opacity: 0;
        }
        @media(max-width: 860px) {
           opacity: 1;
        }
        @media(max-width: 730px) {
           display: none;
        }
    }
    &__text {
        position: relative;
        text-align: center;
        margin-inline-end: 45px;
         padding-block-start: 100px;
        padding-block-end: 75px;
        max-width: 350px;
        @media(max-width: 730px) {
            padding-block-start: 160px;
            margin-inline: 0;
            padding-inline: 5px;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 1.12;
    }

    &__author {
        font-size: 22px;
        line-height: 1.33;
    }
}

/*===============================*/

.arrows-slider {
    // .arrows-slider__arrow
    &__arrow {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.46);
      position: absolute;
      top: 50%;
      transform: translate(0, -50%) rotate(180deg);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 16px;
        height: 24px;
        margin-left: 3px;
      }
    }
    @media(max-width: 860px) {
           display: none;
        }
  }
  .-prev {
    left: 12px;
  }
  .-next {
    right: 12px;
    transform: translate(0, -50%) rotate(0);
  }

.banner {
    position: relative;
    padding-inline: 25px;
    padding-block: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 2px 5px #000;
    @media(max-width:860px){
        margin-block-start: 20px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        padding-block-end: 10px;
    }

    &__image {
        width: 84px;
        height: 111px;
        position: relative;
        margin-block-end: 25px;
        
        &::after{
            position: absolute;
            content: '';
            width: 176px;
            height: 24px;
            background: url('../assets/img/baner/poster.png') 0 0 no-repeat;
            bottom: -17px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &__sale {
        font-size: 21px;
        font-weight: 300;
        padding-block-end: 5px;
    }

    &__price {
        font-size: 29px;
        font-weight: 600;
        margin-block-end: 10px;
    }

    &__button {
        display: inline-flex;
        padding-inline: 10px;
        padding-block: 4px;
        font-size: 19px;
        font-weight: 600;
    }
}
/*=======================================================================*/

.tabs-page {
    overflow: hidden;
    &__list {
        display: flex;
        overflow: auto;
        white-space: nowrap;
       
    }

    &__link {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.76;
    padding: 5px 22px;
    border: 1px solid #CFD3D6;
    background: linear-gradient(to top, #E9E9E9, #FBFBFB);
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    }

    &__content {
        
    }
}

.content-tab {
    &__item {
        display: none;
    }
}
.--active-tab-nav {
    
    font-weight: 400;
    background: #fff;
    z-index: 2;
    border-bottom: none;

}
